[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
redis = "*"
aioredis = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
ckanapi = "*"
flask-cors = "*"
webargs = "*"
flask-session = "*"
python-lorem = "*"
flask-migrate = "*"
psycopg2 = "*"
requests = "*"
helpers = "*"
json-logging = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
cachetools = "*"
py-healthcheck = "*"

[dev-packages]
flake8 = "*"
ipdb = "==0.13.9"
pydevd-pycharm = "*"
factory-boy = "*"
pytest-mock = "*"
memcache = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
